{% extends "base.html" %}
{% block title %} Pieslēgties {% endblock %}

{% block content %}
<div class="auth-bg">
    <form class="auth-div", method="post">
        <h2> Pieslēgties </h2>
        <br>
        <div class="auth-input">
            <input type="text" id="username" name="username" placeholder="Lietotājvārds">
            <input type="password" id="password" name="password" placeholder="Parole">
        </div>
        <br>
        <button type="submit"> Pieslēgties </button>
    </form>
</div>
{% endblock %}
