{% extends "base.html" %}
{% block title %} Uzdevumi {% endblock %}

{% block content %}
<h2>Jautājumi</h2>
<form method="post" class="question-grid">
    {% for question in task.questions %}
    <div class="question">
        <input type="submit" name="question-select" value="{{ question.question }}">
    </div>
    {% endfor %}
    <!-- <ul class="tasks">
        {% for task in user.tasks %}
        <select name="task-select" id="">
            <option value="{{ task.name }}">{{ task.name }}</option>
        </select>
        <li>
            <input type="submit" name="task-select" value="{{ task.name }}">
        </li>
        {% endfor %}
        <li>+ Izveidot</li>
    </ul> -->
</form>


<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock %}