{% extends "base.html" %}
{% block title %} Uzdevumi {% endblock %}

{% block content %}

<h2 style="color:white">Jautājumi</h2>
<form method="post" class="question-grid">
    {% for question in task.questions %}
    <div class="question-box">
        <button class="question" type="submit" name="question" value="{{ question.id }}">
            {{ question.question }}
        </button>
        <button type="button" class="delete-btn" onclick="deleteQuestion('{{ question.id }}')">&times;</button>
        <!-- <input type="submit" name="question-select" value="{{ question.question }}"> -->
    </div>
    {% endfor %}
    <div class="question-box">
        <button class="question" type="submit" name="add-question" value="add-qustion"> + Pievienot jautājumu </button>
    </div>
</form>

<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock %}