{% extends "base.html" %}
{% block title %} Reģistrēties {% endblock %}

{% block content %}
<div class="auth-bg">
    <form class="auth-div" id="sign-up-form" method="post">
        <h2>Reģistrēšanās</h2>
        <br>
        <div class="auth-input">
            <input type="text" id="first_name" name="first_name" placeholder="Vārds">
            <input type="text" id="last_name" name="last_name" placeholder="Uzvārdu">
            <input type="text" id="username" name="username" placeholder="Lietotājvārds">
            <input type="password" id="password1" name="password1" placeholder="Parole">
            <input type="password" id="password2" name="password2" placeholder="Parole (velreiz)">
        </div>
        <br>
        <button type="submit"> Reģistrēties </button>
    </form>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script> -->

<!-- <script type="text/javascript">
    $(document).on('submit','#todo-form',function(e)
                   {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          todo:$("#todo").val()
        },
        success:function()
        {
          alert('saved');
        }
      })
    });
  </script> -->
{% endblock %}
