* {
    margin: 0;
    padding: 0;
}

/* HEADER */
body {
    font-family: "Poppins", sans-serif;
    background-color: gray;
    background-image: url("/static/images/hmm.jpg");
    background-size: cover;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header a {
    text-decoration: none;
}

header ul {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

header ul a {
    margin-right: 20px;
    color: white;
}

#brand {
    margin-left: 20px;
    /* size: 5vh; */
}

#brand a {
    color: green;
}



/* SIGN UP */
.auth-bg {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.auth-div {
    background-color: rgb(85, 85, 85);
    display: grid;
	place-items: center;
    padding: 40px;

    /* align-items: center; */
    /* height:100%; */
    /* flex: 1 1 auto; */
    /* margin:0 auto; */
    /* display:block; */
}


.auth-div input {
    display: block;
    margin-top: 5px;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
}

/* TASKS */
.task-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 20px;
}

.task-box {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.task-box .task {
    color: white;
    font-size: 20px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}


.question-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    margin: 20px;
}

.question-box {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.question-box .question {
    color: white;
    font-size: 20px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

/* NEW TASK */
.new-task-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.new-task-form {
    background-color: rgb(85, 85, 85);
    display: grid;
	place-items: center;
    padding: 40px;
}

.new-task-form input {
    display: block;
    margin-top: 5px;
}

/* .tasks {
    margin: 10px;
    list-style-type: none;
    display: block;

    background-color: rgba(100, 100, 100, 100);
    background-color: aqua;
} */

/* .tasks input {
    display: grid;
	place-items: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
} */

/* #first_name {
    color: violet; */
    /* background-color: aqua; */
/* } */